
h1 {
    font-weight:bold

}
h2{
    font-weight: 50;
    font-style: normal;   
    
}
strong {
 font-weight:bold;
 
 
}
a {

    color:blue;

}


h4 {
font-weight: 100;




}
i {
    font-style: italic;
    font-weight: 100;
    
    
}





    
       
    