i  {
    color: green;
    text-decoration: underline;
    font-style: normal;
}


ol, ul {
    border: 1px solid lightcoral;
}

img {
    width: 100%;
    max-width: 100%;
}
h4 {
    font-weight: 100;
    font-size: medium;
}
h5 {
    font-weight: 100;
    font-size: medium;
}